:root {
    --color-primary: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 42%);
    --color-dark: hsl(0, 0%, 7%);
    --font-family: Figtree, sans-serif;
}


.container {
    background-color: var(--color-white);
    max-width: 385px;
    border: 1px solid var(--color-dark);
    border-radius: 20px;
    overflow: hidden;
    padding: 23px;
}

.estilo {
    margin-top: 23px;
    font-size: 14px;
}

.paragrafo {
    margin-top: 16px;
}

.language-description {
    font-size: 16px;
    line-height: 25px;
    color: var(--color-light);
}

.conteudo {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-primary);
    font-family: var(--font-family);
    color: var(--color-dark);
}

main header img {
    display: block;
    width: 100%;
    border-radius: 13px;
}

h1 {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 700;
}

h2 {
    margin-top: 16px;
    color: var(--color-dark);
}