:root {
    --color-primary: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-light: hsl(0, 0%, 42%);
    --color-dark: hsl(0, 0%, 7%);
    --font-family: Figtree, sans-serif;
}


.container {
    position: relative;
    background-color: var(--color-white);
    max-width: 386px;
    min-height: 522px;
    border: 1px solid var(--color-dark);
    border-radius: 20px;
    padding: 23px;
    box-shadow: 7px 8px var(--color-dark);;
}

.estilo {
    margin-top: 23px;
    font-size: 14px;
}

.espacamento {
    margin-top: 16px;
}

.language-description {
    font-size: 16px;
    line-height: 25px;
    color: var(--color-light);
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.rodape {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 18px;
}

.foto-autor {
    width: 32px;
}

.autor {
    font-size: 14px;
    font-weight: 800;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-primary);
    font-family: var(--font-family);
    color: var(--color-dark);
}

main header img {
    display: block;
    max-width: 336px;
    border-radius: 13px;
}

h1 {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 700;
}